requests
precise-runner
prettyparse==0.1.4
protobuf
absl-py
playsound
pyaudio
webrtcvad
pydub
tinydb
pythainlp
feedparser
pandas
speechrecognition
gtts
pydub
python-vlc
pafy
youtube-dl
termcolor
gast
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorboard==1.14.0
gtts
pynput
emoji