numpy
requests
precise-runner
prettyparse==0.1.4
protobuf
absl-py
playsound
pyaudio
webrtcvad
pydub
tinydb
https://github.com/PyThaiNLP/pythainlp/archive/f361560b36a74ce8771878f406a6f68ec62efa10.zip
feedparser
pandas
speechrecognition
gtts
pydub
python-vlc
pafy
youtube-dl
termcolor
gast==0.2.2
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorboard==2.0.2
gtts
pynput
emoji
sklearn-crfsuite
pytube
ffmpeg-python
https://github.com/wannaphong/mycroft-precise/archive/dev.zip
